
.gradle/8.10.1/executionHistory/executionHistory.bin
.gradle/8.10.1/executionHistory/executionHistory.lock
.gradle/8.10.1/fileHashes/fileHashes.bin
.gradle/8.10.1/fileHashes/fileHashes.lock
.gradle/8.10.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
